@charset "UTF-8";
body {
background-color: rgb(186, 207, 102);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;}
h1 {color: rgb(7, 3, 59);}
h2 {color: brown;}
p {text-align: justify;}
